.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  position: relative;
  padding-top: 20px;  
}

.logo {
  display: block;
  m
}

.header__col{
  display: flex;
  align-items: center;
}

.header__col-right {
  justify-content: flex-end;
}

.menu {
  margin-top: 9px;
}

.contacts {
  margin-top: 22px;
  font-style: normal;
  text-align: right;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 53px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  font-size: 14px;
  color: #FFFFFF;
}

.menu__link:hover {
  color: #FF3D00;
  transition: .2s;
}

.menu__link--active {
  color: #FF3D00;
}

.contacts__desc {
  font-size: 11px;
  color:  #9A9A9A;
  margin-bottom: 6px;
}

.contacts__phone {
  font-size: 26px;
  text-decoration: none;
}

.dropdown {
  font-size: 13px;
  text-decoration: underline;
  color: #FF3D00;
  letter-spacing: 0.4px;
  position: relative;
  
}
.dropdown__menu{
  position: absolute;
  top: 100%;
  margin-top: -5px; 
  opacity: 0;
  transition: opacity .4s;
  right: -9999px;
 
}
.dropdown__menu::before{
  content: "";
  display: block;
  border: 10px solid transparent;
  border-bottom-color: #CDD1D2;
  border-top-width: 0;
  width: 0;
  margin-left: 91px;
  border-right: 13px solid transparent;
  border-left: 13px solid transparent;
}

.dropdown__list {  
  background: #CDD1D2;
  padding: 11px 14px;
  border-radius: 5px; 
}


.dropdown:hover .dropdown__menu{
  right: 0;
  opacity: 1;
}

.dropdown__item {
  color: #1E1F20;
  font-size: 13px;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
}

.dropdown__item:last-child {
  font-weight: 600;
}


