body {
  font-family: 'Open-sans', sans-serif;
  color: #FFFFFF;
  line-height: 1.42em ;
  font-size: 16px;
  background: #17191C;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}
* {
  box-sizing: border-box;
}
p {
  margin-top: 0;
}
body. html {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200px;
}

.main-page-wrapper {
  background: url("../img/hero.png") center top 5px no-repeat, url("../img/bottom-pic.png") center bottom 3px no-repeat;;
}


.container {
  margin: 0 auto;
  width: 1142px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  position: relative;
  padding-top: 20px;
  
}

.logo {
  display: block;
  margin-right: 241px; 
}

.header__col{
  display: flex;
  align-items: center;
}

.header__col-right {
  justify-content: flex-end;
}

.menu {
  margin-top: 9px;
}

.contacts {
  margin-top: 22px; 
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 53px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  font-size: 14px;
  color: #FFFFFF;
}
.menu__link:hover {
  color: #FF3D00;
}
.contacts {
  font-style: normal;
  text-align: right;
}
.contacts__desc {
  font-size: 11px;
  color:  #9A9A9A;
  margin-bottom: 6px;
}
.contacts__phone {
  font-size: 26px;
  text-decoration: none;
}
.contacts__workhours {
  font-size: 13px;
  text-decoration: underline;
  color: #FF3D00;
  letter-spacing: 0.4px;
}
.route {
  display: flex;
  justify-content: space-around;
  margin-bottom: 232px;
}
.route__description {
  text-align: center;
  width: 80%;
}
.route__description-offer {
  padding-top: 143px;
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 800;
  line-height: 1.4;
  margin-bottom: 14px;
  
}
.route__description-intro{
  font-size: 18px;
  margin-bottom: 41px;
  letter-spacing: 0.04em;
}
.btn {
  border: 2px solid transparent;
  background: #FF5500;
  padding: 20px 52px;
  border-radius: 35px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.btn:hover {
  background: #FF3D00;
  cursor: pointer;
}
.section {
  
}
.offers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 195px;
}
.offer {
  border: 5px solid #fff;
  min-height: 476px;
  background: #fff;
  width: calc(100% / 3 - 18px);
  color: #000;
  border-radius: 5px;
  padding-left: 19px;
  padding-right: 28px;
  padding-bottom: 40px;
}
.offer:hover {
  border: 5px solid #CCCCCC;
  
}
.offer__img {
  margin-top: 35px;
  height: 76px;
  width: 76px;
}
.offer__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.offer__title {
  font-weight: bold;
  font-size: 32px;
  margin-top: 35px;
  margin-bottom: 28px;
}
.offer__opportunities {
 display: flex;
 justify-content: space-between;
 margin-bottom: 22px;
}

.offer__opportunities-offer {
  width: 40%;
}
.offer__intro { 
  width: 100%;
  margin-right: 35px;
  margin-bottom: 28px;
}

.btn--color--orange{
  border: 2px solid #FF5500;
  background-color: #fff;
  color: #FF5500;
  margin-right: auto;

}
.btn--color--orange:hover{
  background-color: #FF5500;
  color: #fff;
}
.news {
  margin-bottom: 145px;
}
.news__title {
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 64px;
}
.news__stocks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}
.news__stocks-item {
  flex: 1;
  position: relative;
  margin-right: 25px;
}
.news__stocks-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news__stocks-block {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 21px 31px;
  min-height: 140px;
}
.news__stocks-date {
  font-size: 14px;  
  
}
.news__stocks-title{
  margin-top: 16px;
  font-size: 24px;
  font-weight: bold;
  
}
.news__stocks-intro {
  margin-top: 10px;
}

.paginator{
  align-items: center;
  display: flex;
  justify-content: center;
}
.paginator__display, .paginator__list {
  display: flex;
}
.paginator__display {
  margin-right: 36px;
}
.paginator__item {
  text-align: center;
}
.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}
.paginator__item--active .paginator__link {
  background: #FF5500;

}
.paginator__link:hover {
  background: #FF5500;
}

.about {
  display: flex;
  margin-bottom: 50px;
}

.about:before, .about__desc{
  display: block;
}

.about:before {
  content: "" ;
  width: 490px;
  height: 505px;
  background: url("../img/cameraman.png") center center / cover no-repeat;
}
.about__desc {
  background: #fff;
  padding: 70px 81px;
  max-width: 785px;
  margin-left: -140px;
  margin-top: 98px;
  border-radius: 5px;
  
}
.about__desc-title {
  font-weight: 800;
  font-size: 36px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 40px;
  line-height: 1.42em ;
}
.about__desc-intro {
  color: #000;
  margin-bottom: 44px;
  min-height: 128px;
  line-height: 1.62em ;
}
.about__desc-intro p {
  margin-bottom: 20px;
}
.about__desc-intro p:last-child {
  margin-bottom: 0;
}
.footer-container--section {
  min-height: 126px;
}
.footer-container {
  margin-top: auto;
}
.footer-container--content {
  border-top: 1px solid rgb(75, 75, 75);
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
    
}
.footer .menu {
  
}
.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}
.socials__item {

  margin-right: 10px;
}
.socials__item:last-child {
  margin-right: 0;
}
.socials {
  display: flex;
  margin-top: 5px;
  margin-right: 75px;
 
}
.footer__col {
  display: flex;
  align-items: center;
}
.footer__col .logo {
  margin-right: 130px;
}
.footer__col-right {
  
}


.socials__item--icon--telegram .socials__link {
  background-image: url(../img/t.png);
}
.socials__item--icon--telegram .socials__link:hover {
  background-image: url(../img/tg-hover.png);
}


.socials__item--icon--vkontakte .socials__link {
  background-image: url(../img/vk.png);
}
.socials__item--icon--vkontakte .socials__link:hover {
  background-image: url(../img/vk-hover.png);
}


.socials__item--icon--facebook .socials__link {
  background-image: url(../img/facebook\ 1.png);
}
.socials__item--icon--facebook .socials__link:hover {
  background-image: url(../img/fb-hover.png);
}


.socials__item--icon--instagram .socials__link {
  background-image: url(../img/in.png);
}
.socials__item--icon--instagram .socials__link:hover {
  background-image: url(../img/inst-hover.png);
}
.footer .contacts {
  margin-top: 8px;
}


/* service page */

.top-line {
  min-height: 416px;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  background: #151618 url(../img/top-line.png) center center no-repeat;
}
.top-line__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}
.header__top-line {
  padding-top: 0;
}
.page-title {
  font-size: 72px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
}
.breadcrumbs__list {
  display: flex;
  align-items: center; 
}
.breadcrumbs__link {
  color: #9A9A9A;
  font-size: 14px;
  font-weight: bold;
}
.breadcrumbs__item {
  display: flex;
  align-items: center;
}
.breadcrumbs__item--active ..breadcrumbs__link {
  font-weight: normal;
}
.breadcrumbs__item:after {
  content: "/";
  color: #9A9A9A;
  margin: 0 3px;
}
.breadcrumbs__item:last-child:after {
  display: none;
}
.page-content {
  background: #fff;
  color:#000;
}
.services {
  margin-top: 45px;
  margin-bottom: 65px;
}
.service {
  display: flex;
  padding-top: 49px;
  text-decoration: none;
}
.service__img {
  width: 40%;
  min-height: 333px;
  margin-right: 5.5%;
}
.service__img-elem {
  height: 100%;
}
.service__content {
  flex: 1;
  padding-top: 27px;
  padding-bottom: 10px;
}

.service__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 42px;
}
.service__desc p{
  line-height: 1.7;
  margin-bottom: 35px;
  color: #303030;
}
.service__content .btn{
  max-width: 198px;
  padding: 15px 52px;
}
.paginator__page-content {
  margin-bottom: 80px;
}
.inner-section  {
  background: #Fff;
  color: #1A1B1E;
  padding: 115px 0;
}
.inner-section--bg--grey{
  background: #F4F5F5;
}
.inner-section__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 85px;
  
}
.partners__item{
  margin-left: 47px;
}
.partners__item:nth-child(4n+1){
  margin-left: 0;
}
.partners__link {
  text-decoration: none;
  display: flex;
  width: 250px;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.partners {
  display: flex;
  flex-wrap: wrap;
}
.inner-footer__container {
  padding: 42px 0 44px;
}
.inner-footer {
  margin-top: auto;
}